.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Build archives
dist*.zip
dist*.tar.gz
dist*.7z

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
